$app-layer-1: 100;
$app-layer-2: 200;
$app-layer-3: 300;
$app-layer-4: 400;
$app-layer-5: 500;
$app-layer-6: 600;
$app-layer-7: 700;
$app-layer-8: 800;
$app-layer-9: 900;
$app-layer-10: 1000;
$app-layer-11: 1100;
$app-layer-12: 1200;
$app-layer-13: 1300;
$app-layer-14: 1400;
$app-layer-15: 1500;

$app-editor-error-layer: $app-layer-1;
$app-coverage-marker-layer: $app-layer-1;
$app-walthrough-popup-layer: $app-layer-9;
$app-editor-toolbar-layer: $app-layer-10;
$app-notification-layer: $app-layer-11;
$app-overlay-layer: $app-layer-14;
$app-tooltip-layer: $app-layer-15;


$app-headings: (h1, h2, h3, h4, h5, h6);
$app-header-height: 40px;
$app-path-images: '../assets/images/';

$app-backup-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$app-heading-font-family: Oswald, $app-backup-font-family;
$app-heading-font-family: Montserrat, $app-backup-font-family;
$app-text-font-family: Montserrat, $app-backup-font-family;
// $app-text-font-family: 'Helvetica Neue', $app-backup-font-family;
$app-text-line-height: 1.9;
$app-text-font-size: 15px;
$app-text-font-weight: 400;

$app-box-shadow-1: 0 2px 4px 0 rgba(black, 0.1), 0 12px 35px -2px rgba(0, 0, 0, 0.26);

// $app-text-font-family: 'EB Garamond', $app-backup-font-family;
// $app-heading-font-family: Avenir, $app-backup-font-family;
// $app-text-font-size: 20px;

$app-spacing: 16px;

$app-code-font-family: 'Source Code Pro', Monaco, Consolas;
$app-code-font-size: 13px;
$app-code-line-height: 1.7;

$app-post-padding: 6rem;



@function app-image-url($url) {
  $path: join($app-path-images, $url);

  @return url($path);
}







$color-error: hsla(11, 100%, 64%, 1);
$color-info: hsla(197, 88%, 58%, 1); // a nice blue
$color-gray: #eae9ea;

// $meme: #e8e7e0;

// #5abef9 // blue replacement?



$app-button-font-family: Montserrat;

@mixin button {
  border: 0;
  background-color: transparent;
  font-family: $app-button-font-family;
  font-size: 13px;
  outline: 0;
  cursor: pointer;
  padding: 10px 22px;
  user-select: none;
}




$app-model-content-box-shadow: $app-box-shadow-1;
$app-model-content-width: 600px;

$app-editor-settings-border-radius: 4px;
$app-editor-settings-background-color: $color-gray;

$app-notification-background-default: $color-gray;
$app-notification-background-error: $color-error;
$app-notification-color-default: rgba(black, 0.6);
$app-notification-color-error: rgba(white, 0.97);
$app-notification-padding-x: 16px;
$app-notification-padding-y: 16px;
$app-notification-padding-small-y: 8px;
$app-notification-padding-small-x: 10px;
$app-notification-border-radius: 4px;


$app-tooltip-background: $color-gray;
$app-tooltip-border-color: rgba(black, 0.1);
$app-tooltip-foreground: rgba(black, 0.6);
$app-tooltip-font-size: 12px;
$app-tooltip-padding-x: 12px;
$app-tooltip-padding-y: 8px;
$app-tooltip-border-radius: 4px;
$app-tooltip-box-shadow: $app-box-shadow-1;
$app-tooltip-line-height: 1.8,;

$app-dropdown-padding-y: 16px;
$app-dropdown-padding-x: 22px;
$app-dropdown-width: 220px;
$app-dropdown-border-radius: 3px;

$app-editor-popup-background: rgb(81, 63, 58);
$app-editor-popup-padding-y: 3px;
// $app-editor-popup-padding-x: 8px;
$app-editor-popup-padding-l: 10px;
$app-editor-popup-padding-r: 10px;
